@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sas-serif;
  color: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

.marquee {
  width: 80vw;
  height: 20vh;
  background-color: #111;
  color: tomato;
  overflow: hidden;
  position: relative;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 5s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-180vw);
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid teal; */
  width: 20vw;
  flex-shrink: 0;
  font-size: 5rem;
  white-space: nowrap;
}
